<!DOCTYPE html>

<head>
    <title>fake-vue</title>
</head>
<style>
    #app {
        text-align: center;
    }
</style>

<body>
    <div id="app">

        <form>
            <input type="text" v-model="number">
            <button type="button" v-click="addNumber">增加</button>
        </form>

        <h3 v-bind="number"></h3>
        <form>
            <input type="text" v-model="people.name">
        </form>
        <h3 v-bind="people.name"></h3>

        <form>
            <input type="text" v-model="people.info.age">
        </form>
        <h3 v-bind="people.info.age"></h3>

        <form>
            <input type="text" v-model="people.goods.id">
            <button type="button" v-click="addId">增加</button>
        </form>

        <form>
            <div v-for="item in list">
                {{ item }}
            </div>
        </form>

    </div>
</body>
<script src="./fake-vue.js"></script>
<script>

    window.onload = function () {
        window.app = new FakeVue({
            el: '#app',
            data: {
                number: 0,
                list: [1, 2, 3],
                people: {
                    name: "august",
                    info: {
                        age: 18
                    },
                    goods: {
                        id: 1
                    }
                }
            },
            methods: {
                addNumber: function () {
                    this.number++;
                },
                addId: function () {
                    this.people.goods.id++;
                }
            }
        });
    }

</script>