<!DOCTYPE html>

<head>
    <title>simple-vue</title>
</head>
<style>
    #app {
        text-align: center;
    }
</style>

<body>
    <div id="app">

        <form>
            <input type="text" v-model="number">
            <button type="button" v-click="increment">增加</button>
        </form>

        <h3 v-bind="number"></h3>
        <form>
            <input type="text" v-model="people.name">
        </form>
        <h3 v-bind="people.name"></h3>

        <form>
            <input type="text" v-model="people.info.age">
        </form>
        <h3 v-bind="people.info.age"></h3>

        <form>
            <input type="text" v-model="people.goods.id">
        </form>
        <h3 v-bind="people.goods.id"></h3>

    </div>
</body>
<script src="./super-vue.js"></script>
<script>
    
    window.onload = function () {
        window.app = new SuperVue({
            el: '#app',
            data: {
                number: 0,
                people: {
                    name : "august",
                    info : {
                        age : 18
                    },
                    goods : {
                        id : 1
                    }
                }
            },
            methods: {
                increment: function () {
                    this.number++;
                }
            }
        });
    }

</script>